@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

*:focus {outline:none}

ul {
  margin-bottom:1.5em
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* td {
  padding: 2px 4px;
  height: 22px;
  border: solid lightgray 1px;
  white-space: normal;
  word-wrap: break-word;
}

td.head{
  height: 25px;
  text-align: center;
  background: lightblue;
  font-weight: bolder;
  text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
}

td.label {
  text-align: justify;
  font-weight: bold;
  background: rgb(202, 202, 202);
}

td.main-grid-item{
  text-align: center;
} */


.ui.grid>.compact.column {
  padding: 5px;
}

div.compact {
  padding: 0;
}

/* table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border-radius:6px;
  -moz-border-radius:6px;
}

table.mainTable, table.overlay3 {
  width: 160%;
} */


/* td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
} */

/* td:first-child, th:first-child {
   border-left: none;
} */

div.sticky-table {
  border: 2px solid #e5e5e5;
}


/* scrollbar hiding */
html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}


/*table */

div.border-right {
  border-right: 2px solid #e5e5e5;
}

div.border-bottom {
  border-bottom: 2px solid #e5e5e5;
}

div.sticky-table {
  border: 2px solid #e5e5e5;
}

div.label {
  min-width: 100px;
  padding: 4px;
  background: rgb(245, 245, 245);
}

div.space{
  background-image: url("../photoAssets/stripe.png") !important;
}

div.head{
  height: 25px;
  padding: 5px;
  text-align: center;
  background: rgb(245, 245, 245);
  font-weight: bolder;
}

.main-grid-item {
  background-color: rgb(255, 255, 255);
  padding: 4px;
}

@media only screen and (max-width: 1200px) {
  .ui.stackable.buttons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ui.stackable.buttons > .button{
    width: 100%;
  }
}

.ui.menu.fixed {
  z-index: 1001;
}

.slick-prev:before {
  color: gray;
}
.slick-next:before {
  color: gray;
}

div.item.non-inherited-border-less:before {
  width: 0 !important;
}